.picker{
  margin-top:50px;
}
.picker-view{
  width: 50px;
  height: 50px;
}
.colors{
  display: flex;
  width: 100%;

  .palette{
    width: 20%;
    flex-shrink: 0;
    flex-grow: 0;
    text-align: center;
    color: white;
    padding: 25px 0;
    font-weight: bolder;

    &.one{
      background-color: red;
    }
    &.two{
      background-color: blue;
    }
    &.three{
      background-color: green;
    }
    &.four{
      background-color: yellow;
      color: black;
    }
    &.five{
      background-color: brown;
    }
  }
}
