.colors{
  display: flex;
  width: 100%;
  height: 50px;
  .palette{
    width: 20%;
    flex-shrink: 0;
    flex-grow: 0;

    &.one{
      background-color: red;
    }

    &.two{
      background-color: blue;
    }
    &.three{
      background-color: green;
    }
    &.four{
      background-color: yellow;
    }
    &.five{
      background-color: brown;
    }
  }
}
